body {
  color: green;
  background-color: black;
}
#container {
  height:525px;
  width:360px;
  margin:100px;
    background: #f7f7f7;
  padding:10px;
}
#bg {
    background-image: url(https://cdn.pixabay.com/photo/2016/07/23/19/11/butler-1537385_1280.jpg)
}
h1 {
  background: red;
  color: white;
  margin:0;
  padding:10px 80px;
    text-transform: uppercase;
font-size:18px;
  font-weight:normal;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
p {
  padding-left:20px;
}
form input[type="text"]{
  width:90px;
}
input {
  padding-left: 20px;
}
#billamt {
  font-size: 14px;
  color:black;
    background-color: #f7f7f7;
  width: 60%;
  padding: 5px 5px 8px 8px;
}
#billamt:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}
#peopleAmt {
  width: 60%;
  padding: 5px 5px 8px 8px;
  color:red;
  margin-left: 20px;
  background-color: #f7f7f7;
  font-size: 14px;
}
.dollarsign {
  display:inline;
}
#serviceQual {
  padding: 13px 13px 20px 20px;
  margin-left: 20px;
  font-size: 25px;
  
}
button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: red;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}
button:hover{
    background: blue;
  border-bottom-color: #111;
}
button:active{
    position: relative;
  top: 1px;
}
#totalTip {
  font-size:30px;
  margin-top: 5px;
  text-align:center;
}
#totalTip:before {
  content:"Tip Amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}
#tooltip sup {
  font-size:20px;
  top:-18px;
}
#tooltip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
select option{
  color:red;
}